*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: black;
}
#container{
    
    justify-content: center;
   
}
#titleMenu{
    position: relative;
    color:white;
    display: flex;
    justify-content: center;
   
}

#Menu{
    
    
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#sideBar{
    width: 50%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 
    0 0 5px #fff,
    0 0 10px #fff ,
    0 0 20px #fff ,
    0 0 40px #f0f ,
    0 0 80px #f0f ;
    
}
#MenuTwo{
    

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
H2{
    font-size: xx-large;
    background-color: black;
    padding: 10%;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #f0f,
      0 0 80px #f0f,
      0 0 90px #f0f,
      0 0 100px #f0f,
      0 0 150px #f0f;
      box-shadow: 0 0 0 black;
      
}
button {
    
    margin: 2vh;
  }
  .custom-btn {
    color: #fff;
    width: 100%;
    height:auto;
    padding: 5vh 10vh;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
.btn-14 {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #fff,
      0 0 80px rgb(0, 72, 255),
      0 0 90px rgb(0, 72, 255),
      0 0 100px rgb(0, 72, 255),
      0 0 150px rgb(0, 72, 255);
    position: relative;
    color: #ffffff;
    border: none;
    z-index: 2;
  }
  .btn-14:before,
  .btn-14:after {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(0, 72, 255),
      0 0 80px rgb(0, 72, 255),
      0 0 90px rgb(0, 72, 255),
      0 0 100px rgb(0, 72, 255),
      0 0 150px rgb(0, 72, 255);
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    border: 1px solid;
    
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-14:before{
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(0, 72, 255),
      0 0 80px rgb(0, 72, 255),
      0 0 90px rgb(0, 72, 255),
      0 0 100px rgb(0, 72, 255),
      0 0 150px rgb(0, 72, 255);
     top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #00aced;
     border-left-color: #00aced;
  }
  .btn-14:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: #00aced;
     border-right-color: #00aced;
  }
  .btn-14:hover:before,
  .btn-14:hover:after {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(0, 72, 255),
      0 0 80px rgb(0, 72, 255),
      0 0 90px rgb(0, 72, 255),
      0 0 100px rgb(0, 72, 255),
      0 0 150px rgb(0, 72, 255);
    border-color: #00aced;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
  } 
H1{
    font-size: xxx-large;
    padding: 1%;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #f0f,
      0 0 80px #f0f, 
      0 0 90px #f0f, 
      0 0 100px#f0f, 
      0 0 150px #f0f;
}

#sideBar img{
    width: 30%;
}
#btnS{
    
    position: relative;
    width: 10%;
    height: 10%;
    margin: 0;
    padding: 0;
    border: unset;
    
    
}
#btnI{
    
    width: 100%;
}